<input type="searchText" [(ngModel)]="searchText" name="searchText" />

<!-- <div *ngFor="let contact of contacts | search:'categories':searchText">
  <article class="post">
    <a [routerLink]="['/contact', contact.id]" class="post-image">
      <img [src]="contact.image"/>
    </a>
    <div class="details">
      <div class="actions">
        <a [routerLink]="['/contact', contact.id]" class="btn btn-round">
          <span class="fa fa-chevron-down"></span>
        </a>
      </div>
      <h2>
        <a [routerLink]="['/contact', contact.id]">{{ contact.name }}</a>
      </h2>
      <p>{{ contact.job }}</p>
      <ul class="tags">
        <li *ngFor="let category of contact.categories" class="btn btn-quaternary btn-caps">
           {{ category }}
        </li>
        </ul>
    </div>
  </article>
</div> -->

  <figure *ngFor="let contact of contacts | search:'categories':searchText" class="snip1531">
    <img [src]="contact.image" alt="sample17" />
    <figcaption>
      <h3>{{ contact.name }}</h3>
      <p>{{ contact.job }}</p>
      <ul class="tags">
        <li *ngFor="let category of contact.categories" class="btn btn-quaternary btn-caps">
          {{ category }}
        </li>
      </ul>
      <div class="icons">
        <a [routerLink]="['/contact', contact.id]">
          <i class="ion-ios-plus-outline"></i>
        </a>
      </div>
    </figcaption>
  </figure>

<script>
  $(".hover").mouseleave(
      function () {
        $(this).removeClass("hover");
      }
    );
</script>