<input type="searchText" [(ngModel)]="searchText" name="searchText" placeholder="Search" />


  <figure *ngFor="let contact of contacts | search:'categories':searchText" class="snip1531">
    <img [src]="contact.image" alt="sample17" />
    <figcaption>
      <h3>{{ contact.name }}</h3>
      <p>{{ contact.job }}</p>
      <ul>
        <li *ngFor="let category of contact.categories" class="btn">
          {{ category }}
        </li>
      </ul>
      <div class="icons">
        <a [routerLink]="['/contact', contact.id]">
          <i class="ion-ios-plus-outline"></i>
        </a>
      </div>
    </figcaption>
  </figure>

<script>
  $(".hover").mouseleave(
      function () {
        $(this).removeClass("hover");
      }
    );
</script>