<figure *ngIf="contact" class="snip1423">
  <img [src]="contact.image" alt="sample57" />
  <figcaption>
    <h3>{{ contact.name }}</h3>
    <p>{{ contact.job }}</p>
    <ul>
      <li *ngFor="let note of contact.notes">
        <p>{{ note }}</p>
      </li>
    </ul>
    <ul>
      <li *ngFor="let category of contact.categories" class="btn">
        {{ category }}
      </li>
    </ul>
  </figcaption>
  <a [routerLink]="['/contact/edit/', contact.id]">
    <i class="ion-edit"></i>
  </a>
</figure>