article{
  align-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100px;
}

a {
  text-decoration: none;
  color: #696969;
  transition: color .3s ease;
}

.tags {
  margin: 10px 0;
}

.btn.btn-quaternary {
  background: #48cfad;
  color: #fff;
}
.btn.btn-quaternary:hover, .btn.btn-quaternary.active {
  background: #35c9a4;
}

.post {
  font-family: 'Avenir-Light', sans-serif;
  box-shadow: 0 2px 0 rgba(204, 204, 204, 0.15);
  margin-bottom: 20px;
}
.post .post-image {
  display: block;
  align-content: center;
}
.post .icon-attachment {
  color: #fff;
}
.post .details {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 0 10px 10px;
}
.post .details h2 {
  font-size: 0.90625em;
  font-family: "Avenir-Book";
  color: #696969;
  font-size: 1.5em;
  margin: 0;
  padding: 5px 0;
}
.post .details p {
  font-size: 0.8125em;
  color: #aaaaaa;
  margin: 0 0 5px;
  padding: 0;
}
.post .actions {
  height: 20px;
}
.post .actions [class*="icon-"] {
  font-size: 18px;
  font-weight: normal;
}
.post .actions .btn-round {
  position: relative;
  border-radius: 50%;
  padding: 10px 0;
  width: 38px;
  height: 38px;
  top: -19px;
  text-align: center;
}
.post.post-blog .details {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  text-align: left;
}
.post.post-blog .details h2 {
  font-size: 1.375em;
  font-weight: 300;
}
.post.post-blog .details strong {
  color: #888888;
}
.post.post-product .details {
  text-align: left;
  padding: 0 20px 20px;
}
.post.post-product .product-actions {
  margin: 20px 0 0;
}
.post.post-product .download-count {
  margin: 0 20px;
}
.post .actions .btn-round {
  position: relative;
  border-radius: 50%;
  padding: 10px 0;
  width: 38px;
  height: 38px;
  top: -19px;
  text-align: center;
  background-color: #ffdb66;
}