.container-btn {
	text-align: center;
    font-weight: 700;
}

.btn {
    border-radius: 0;
	position: inherit;
	border: 0;
	padding: 5% 3.5%;
	display: inline-block;
	text-align: center;
    color: white;
}
.btn:active {
	top: 2%;	
}

.btn.btn-blue{
    background-color: #fff;
    color: #5090c5;
}

/* END BUTTON NAV*/

.snip1423 {
  margin-top: 3%;
  font-family: "Lato";
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #ffffff;
  text-align: center;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.snip1423 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.snip1423 figcaption {
  padding: 20px 15px;
}
.snip1423 h1,
.snip1423 p {
  margin: 0;
}
.snip1423 h1 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.snip1423 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 300;
}
.snip1423 .price {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 48px;
  letter-spacing: 1px;
}

.snip1423 i {
  position: relative;
  bottom: 0;
  line-height: 50px;
  text-align: center;
  color: #000;
  font-size: 1.6em;
  padding: 4% 5%;
}

ul {
  text-align: left;
  text-decoration-style: dotted !important;
}

.tags {
   background-color: #000000;
  color: #fff;
  padding: 3%;
  margin: 0 0 10px;
  opacity: 0.6;
}

p {
  box-sizing:border-box;
  padding: 0 10%;
  font-family: "Lato", sans-serif;
  color: #a6b0bc;
  font-size:15px;
}

.stroke {
  height:5px;
  background: #64cafa;
}

.lower {
  box-sizing: border-box;
  background-color: #D2EFFD;
  height:60px;
  width:100%;
  padding: 6% 15%;
  color: #a6b0bc
}