<div id="buttons-container-1" class="clearfix container-btn d-block">
  <a [routerLink]="['/events/create']" class="btn btn-grey">add events</a>
</div>

<figure *ngFor="let event of event" class="snip1423">
  <h1>{{ event.name }}</h1>
  <p>{{ event.comments }}</p>
  <ul>
    <li *ngFor="let contact of event.contacts">
      <a [routerLink]="['/contact', contact.id]">
        {{contact.name}}
      </a>
  </li>
  </ul>
    <button (click)="onClickDelete(event.id)">
      <i class="ion-close"></i>
    </button>
</figure>